{% extends "dashboard.html" %}

{% block title %}
Perfil do PS logado
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='subTela.css')}}">
{% endblock %}

{% block content %}
{{ super() }}
<div class="subTela" >
    <div style="margin:50px;">
        <h class='tituloDeSecao'>Perfil do Usuário</h>
        <div class='conteudoDaSecao'>
           <p>Nome de Usuário: {{userPS}}</p> 
           <p>Nome: {{nomePS}} </p>
           <p>Email: {{emailPS}}</p>
           <p>Conta de gerência: {{nivGerenciaPS}}</p>
        </div>
    </div>
</div>

{% endblock %}